*{
    margin : 0;
    padding : 0;
    box-sizing: inherit;
}

html{
    font-size : 62.5%;
    box-sizing:border-box;
}


.heading__primary{
    text-transform: uppercase;
    font-weight: normal;
    font-size : 4rem;
    text-align: center;
    margin-bottom : 2rem;
}


.navbar{
    padding : 2rem;
    background :#f0f0f0;
    border-top : 2px solid black;
    border-bottom : 2px solid black;

    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom : 4rem;
}

.navbar ul{
    flex-grow : 1;
    display: flex;
    align-items:center;
    justify-content: center;
    margin : 0 4rem;
    list-style : none;
}

.navbar ul li{
    color : black;
    font-size : 1.8rem;
    text-transform: uppercase;
    margin-left : 2rem;
    cursor : pointer;
}

.container {
    width: 75%;
    margin : 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > h2 {
    font-size : 5rem;
    margin-top : 4rem;
    color : green;
    
}

.post{
    padding : 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(226, 226, 226);
    box-shadow : 0  .5rem .5rem rgba(0,0,0,.2);

    margin-bottom : 2rem;

}


.post > div {
    width: 60%;
    text-align:left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right : 1rem;

}


.post h2,h3,p{
    font-size : 3rem;
    font-weight: normal;
    margin-bottom : 1rem;
}

.post h3{
    font-weight: normal;
    font-size : 1.8rem;
}
.post p{
    font-size: 1.5rem;
}

.post a {
    font-size : 1.7rem;
    text-decoration: none;
    color: rgb(14, 90, 255);
}

.post img {
   
    width:30%;
}

